.selector ul li {
  list-style: none;
}

.selector {
  display: flex;
  justify-content: center;
}

.TheaterSelector {
  justify-content: center;
  font-family: NanumGothic;
}

.favorite {
  display: flex;
  justify-content: center;
  position: relative;
  left: 7%;
  padding: 15px;
  border-radius: 5px;
  width: 83.3%;
  background: #34495e;
  color: white;
  font-weight: bold;
}
.flex-container {
  margin: 3px;
  padding: 15px;
  width: 8%;
  float: left;
  flex-direction: column;
  justify-content: center;
  background: #fafafa;
  color: black;
  font-weight: bold;
  border-top: 3px solid#34495E;
  border-bottom: 3px solid #34495e;
  border-left: 3px solid #34495e;
  font-size: 17px;
}

.flex-container > * {
  text-align: center;
}

.flex-container2 {
  margin: 3px;
  padding: 15px;
  float: right;
  width: 73%;
  background: #fafafa;
  color: black;
  font-weight: bold;
  border-top: 3px solid #34495e;
  border-bottom: 3px solid #34495e;
  border-right: 3px solid #34495e;
}

.theaters {
  display: flex;
  flex-wrap: wrap;
}

.theaters ul {
  display: inline;
  justify-content: center;
}
.theaters ul li {
  float: left;
  position: relative;
  padding: 5px 10px;
}

.theaters ul li::after {
  display: inline-block;
  position: absolute;
  content: "";
  right: 0;
  top: 7px;
  width: 1px;
  height: 16px;
  background: #111;
}
.theaters ul li:last-child {
  border-right: none;
}
.item {
  cursor:pointer
}
.theaters .item {
  display: inline;
}

.favorite .item {
  padding: 0px 10px;
  border-right: 1px solid black;
}

.favorite .item:last-child {
  border-right: none;
}
