@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

 
 .Dropdown {
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: normal;
}

.Dropdown .btn {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .Dropdown:hover .btn {
  background-color: #bbbbbb;
} */

.Dropdown .content {
  display: none;
  position: absolute;

  min-width: 130px;
  box-shadow: 0px 8px 16px 0px#212F3D;
  z-index: 1;
}

/* .Dropdown .content .item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} */

.Dropdown .content .item:hover {background-color:#212F3D}

.Dropdown:hover .content {
  display: block;
}
