.login {
  width: 410px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.login h2 {
  padding: 0 0 20px;
  font-size: 32px;
  color: #111;
  border-bottom: 2px solid #111;
  text-align: center;
  line-height: 1;
}
.login > form > ul {
  list-style: none;
  padding:0 0 10px;
}
.login > form > ul li {
  padding: 0 0 12px;
  text-align: left;
}
.login > form > ul li input {
  width: 100%;
  height: 46px;
  box-sizing: border-box;
  text-indent: 16px;
}
.login > form > ul li input::-webkit-input-placeholder {
  font-size: 16px;
  color: #9fa19f;
  text-indent: 16px;
}
.login li button {
  width: 100%;
  height: 56px;
  background: #111;
  font-size: 18px;
  color: #fff;
}
.login div {
  padding: 0 0 15px;
}
.login div ul {
  list-style: none;
  display: flex;
}
.login div ul li {
  padding: 0 18px 0 18px;
}
.login div ul li a {
  font-size: 14px;
  color: #111;
}