@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
.main_header {
  background: #34495e;
}

.main_header .user {
  display: flex;

  justify-content: space-between;
}

.menuItem {
  background: ;
}

.main_header h1 {
  color: white;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
  margin: 5px;
  padding: 5px;
  font-size: px;
}

.main_header .user-menu {
  display: flex;
}

.main_header .nav-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
