@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
header {
  background:#34495E;
}

header .user {
  display: flex;
  
  justify-content: space-between;
}

.menuItem{
  background:
}


header h1{
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  margin: 5px;
  padding: 5px;
  font-size: 30px;
}
  
header .user-menu{
  display: flex;
}

header .nav-menu{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
