.signup {
  width: 460px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}
.signup h2 {
  padding: 0 0 20px;
  font-size: 32px;
  color: #111;
  border-bottom: 2px solid #111;
  text-align: center;
  line-height: 1;
}
.signup ul {
  list-style: none;
  padding:0 0 10px;
}
.signup li {
  text-align: left;
}
.signup li h3 {
  font-size: 14px;
  display: block;
}
.signup li input {
  width: 100%;
  height: 46px;
  font-size: 16px;
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
  text-indent: 16px;
}
.signup li input::-webkit-input-placeholder {
  font-size: 16px;
  color: #9fa19f;
  text-indent: 16px;
}
.alert {
  padding: 10px 0 0;
  font-size: 12px;
  color: #f00;
}
.possible {
  padding: 10px 0 0;
  font-size: 12px;
  color: #08a600;
}
.signup li select {
  padding: 1px;
  width: 100%;
  height: 46px;
  font-size: 16px;
  box-sizing: border-box;
  text-indent: 16px;
  background: #fff url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 100% 50% no-repeat;
  border: 1px solid #d8d8d8;
  border-radius: 0px;
  -webkit-appearance: none;
  /* appearance: none; */
}
.signup button {
  width: 100%;
  height: 56px;
  background: #111;
  font-size: 18px;
  color: #fff;
}