.Reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 500px;
  padding-right: 500px;
  margin: 0 auto -2px !important;
}

.Reviews > * {
  width: 300px;
  padding-left: 1px !important;
  border: 1px solid grey;
}
