.Reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 26%;
  padding-right: 26%;
  
}

.Reviews > * {
  width: 45%;
  justify-content: center;
  padding-left: 1px !important;
  border: 2.5px solid #34495e;
  margin-left: -2.5px;
  margin-bottom: -2.5px;

}


.input {
  text-align: center;
  background-color: #34495e;
  border: 2px solid #34495e;
  padding-bottom: 20px;
  margin-left: 25%;
  margin-right: 25%;
  width:50%;
  color:white;
  font-size: 20px;
}

.nickname{
  display: inline-block;
  text-align: center;
  background-color: rgb(125, 153, 177);
  color: white;
  font-weight:bold;
  width: 326px;
}

.usergrade{
  display: inline-block;
  text-align:center;
  background-color: rgb(125, 153, 177);
  width:30px;
  border-radius:4px;


}

