.MovieChart{
    background-color:ivory;
    display:inline-block;
    margin: 30px;
    background-color:white;
    border:3px solid black;
    text-align:center;
}

h1{
    text-align:center;
    margin-right:auto;
    margin-left:auto;
}

.movie{
    display:inline-block;
    margin: 30px;
    background-color:white;
    border:3px solid black;
    text-align:center;

}


.num{
    display:inline-block;
    text-align:center;
    background-color:pink;
    color:black;
    border: 1px solid black;
    width: 150px;
}

.overall{
    margin-left:auto;
    margin-right:auto;


}

.overall2{
    margin-left:auto;
    margin-right:auto;

}
