@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.MovieChart {
  background-color: #fafafa;
  display: inline-block;
  margin: 25px;
  border-bottom: 3px solid #85929e;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
}
.inner_overall {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.num {
  display: inline-block;
  text-align: center;
  background-color: #5D6D7E  ;
  color: white;
  font-weight:bold;
  width: 290px;
}

.overall {
  display: flex;
}

.img{
  padding:10px 10px;
  margin:10px;
}
.title{
  display: inline-block;
  background-color: #5D6D7E;
  color:white;
  width:290px;
}
