.MovieBox.deactive {
  display: none;
}

.MovieBox {
  display: flexbox;
  text-align: center;
}

.Movie {
  border: 3px none solid;
  overflow: hidden;
  width: 80%;
  margin: 20px;
  margin-left: 130px;
}

.Movie .Info {
  border: 2px #e59866 solid;
}
