@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.TabMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.TabMenu .Item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #fafafa;
  border-top: 2px solid #34495e;
  border-bottom: 2px solid #34495e;
  border-right: 2px solid #34495e;
  border-left: 2px solid #34495e;
  margin: -1px;
  width: 100px;
  height: 60px;
  color: darkgrey;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  cursor:pointer
}

.TabMenu .Item > div {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: auto;
  font-weight: bold;
}

.TabMenu .Item > span:last-child {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: auto;
}

.TabMenu .Item > span:last-child {
  font-size: 20px;
}

.TabMenu .Item.active {
  color: black;
}
