.User {
  border: 2px solid black;
  text-align: center;
  margin-right: 20%;
  margin-left: 20%;
  padding: 15px;
}

.myticket {
  margin-left: 20%;
}

.MyTicketing {
  text-align: center;
  border: 1px grey solid;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  padding: 15px;
}

.MyTicketing > * {
  padding-right: 50px;
}
