@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.MovieDetail{
    margin-bottom: 50px;
}

.left{
    float: left;
    width: 175px;
    margin-right: 25px;
}

.right{
    position: relative;
    float: left;
    width: 780px;
}



