@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

footer{
  clear: both;
  text-align: center;
  background-color: white;
  color: gray;
  font-family: 'Noto Sans KR', sans-serif;
}

footer p{
    display: block;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* .sector{
  padding-top:20px;


} */

