@import url(http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css);



footer{
  clear: both;
  text-align: center;
  background-color: white;
  color: gray;
  font-family: 'Jeju Myeongjo', serif;
}

footer p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.sector{
  /* padding-top:28px; */


}

