h1 {
  text-align: center;
  font-size: large;
  color: slategrey;
}

.TheaterInfo {
  color: black;
  /* display: flex; */
  background-image: url(http://img.cgv.co.kr/Theater/Theater/2015/0420/wang.jpg);
  height: 420px;
  width: 980px;
  margin-left: 23%;
  margin-right: 23%;
}

.TheaterLocation {
  color: black;
  text-align: left;
  margin-left: 20px;
}

.theaterInfo_wrap {
  position: absolute;
  width: 980px;
  background: #34495e;
  color: white;
  margin-top: 10.8%;
  opacity: 0.9 !important;
}

.theaterInfo_wrap :last-child {
  margin-left: 7.5%;
  margin-bottom: 2%;
}

.theaterInfo_wrap > * {
  margin-left: 7.5%;
}
