.ScreenMap {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 800px;
}

.screen {
  width: 100%;
  background-image: url("../../../assets/images/common/screen_bg.png");
  background-repeat: repeat-x;
  border-radius: 5px;
  text-align: center;
}

.SeatMap {
  display: flex;
  flex-direction: column;
}

.SeatSectionRow {
  display: flex;
}

.SeatSection {
  vertical-align: baseline;
  margin: 10px 5px 0px 5px;
}

.Seat,
.rowName {
  padding: 0px;
  width: 24px;
  height: 24px;
  line-height: 24px;

  text-align: center;
}

.Seat {
  border: 1px solid black;
}

.Seat.full {
  background-color: grey;
}
.Seat.selected {
  background-color: red;
}

.Seat.dummy {
  visibility: hidden;
}
