table.SeatMap {
  border-spacing: 10px;
}
.ScreenMap tr {
  margin-bottom: 10px;
}

.Seat{
  border: 1px solid black;
  width: 30px;
  height: 30px;

  text-align: center;
}

.Seat.full{
  background-color: grey;
}

.Seat.dummy{
  visibility: hidden;
}
